.inicio
{
    background-image: url(../images/tasty-fresh-appetizing-italian-food-ingredients-on-dark-background-ready-to-cook-home-italian-healthy-food-cooking-concept-toning.png);
    background-size: cover;
    background-repeat: none ;
    
}